<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <queries><intent><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="https"/></intent><intent><action android:name="android.support.customtabs.action.CustomTabsService"/></intent></queries>
 <application android:label="UniMatch" android:icon="@drawable/ic_unimatch" android:roundIcon="@drawable/ic_unimatch" android:theme="@style/AppTheme" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
